@include b(page-sidebar-wrapper) {
  height: 100%;
  flex: none;
}

@include b(page-sidebar) {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: $--page-gutter 0;
  border-right: $--page-border;
  @include when(fixed) {
    position: fixed;
    top: 0;
    bottom: 0;
    flex: none;
  }
  @include e(action) {
    height: 24px;
    flex: none;
    padding: 0 $--page-gutter;
    margin-bottom: 12px;
    .el-button.is-icon {
      min-width: 24px;
      height: 24px;
      padding: 0;
      &:first-child {
        margin-left: 0;
      }
    }
    .dividing {
      position: relative;
      top: 4px;
      display: inline-block;
      width: 1px;
      height: 16px;
      margin: 0 10px;
      background-color: #ddd;
    }
  }
  @include e(search) {
    height: 32px;
    flex: none;
    padding: 0 $--page-gutter;
    margin-bottom: 12px;
  }
  @include e(main) {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: 0 $--page-gutter;
    & > .el-scrollbar {
      width: 100%;
    }
    @include when(inline-scroll) {
      padding-right: 0;
    }
    @include m(content) {
      padding-right: $--page-gutter;
    }
  }
  // 侧边栏为列表
  @include e(list) {
    height: 100%;
    ul {
      display: inline-block;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    li {
      position: relative;
      width: 100%;
      height: 36px;
      padding: 0 12px;
      cursor: pointer;
      line-height: 36px;
      transition: all 0.2s;
      @include utils-ellipsis;
      &:hover {
        background-color: $--color-neutral-9;
      }
      &.active {
        background-color: $--color-brand;
        color: $--color-white;
      }
    }
  }
}
