@include b(page) {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  opacity: 0;
  @include when(inited) {
    opacity: 1;
    &:not(.hide-animation) {
      transition: opacity 0.2s ease-in-out, padding-left 0.2s ease-in-out;
    }
  }
}
