@include b(page-detail) {
  display: flex;
  min-width: 0;
  min-height: 0;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  @include when(single) {
    .h-page-detail-item {
      padding-right: 0;
    }
  }

  &.row-amount-2 .h-page-detail-item:not(.is-double-col) {
    width: 50%;
  }
  &.row-amount-2 .h-page-detail-item.is-double-col {
    width: 100%;
  }
  &.row-amount-3 .h-page-detail-item:not(.is-double-col) {
    width: 33.33333333%;
  }
  &.row-amount-3 .h-page-detail-item.is-double-col {
    width: 66.66666667%;
  }
  &.row-amount-4 .h-page-detail-item:not(.is-double-col) {
    width: 25%;
  }
  &.row-amount-4 .h-page-detail-item.is-double-col {
    width: 50%;
  }
}

@include b(page-detail-item) {
  width: 100%;
  flex: none;
  padding: 0 20px;
  margin-bottom: 24px;
  @include e(label) {
    position: relative;
    margin-bottom: 2px;
    color: $--color-neutral-3;
    line-height: 24px;
    @include m(action) {
      display: inline-block;
      height: 24px;
      padding-left: 12px;
      color: $--color-neutral-2;
      font-size: 24px;
      vertical-align: bottom;
    }
  }
  @include e(content) {
    word-break: break-all;
  }
}
