@include b(page-footer) {
  position: fixed;
  right: $--page-gutter;
  bottom: 0;
  transition: left 0.2s ease-in-out;
  &:not(.is-affix) {
    z-index: 1002;
  }
  @include when(affix) {
    position: static;
    width: 100%;
    .h-affix {
      transition: left 0.2s ease-in-out;
    }
    .h-page-footer__main {
      border-top-color: transparent;
    }
    .h-affix .h-page-footer__main {
      border-top-color: $--color-neutral-6;
    }
  }

  @include e(main) {
    display: flex;
    height: $--page-footer-height;
    justify-content: center;
    border-top: $--page-border;
    background-color: rgba(255, 255, 255, 0.9);
    line-height: $--page-footer-height;
  }

  @include e(inner) {
    display: flex;
    justify-content: space-between;
  }
}
