@import '~@hui-pro/theme/index.scss';

@include b(layout) {
  display: flex;
  width: 100%;
  min-width: 0;
  height: 100%;
  min-height: 0;
  @include when(vertical) {
    flex-direction: column;
  }
}

@include b(layout-aside) {
  height: 100%;
  flex: none;
}

@include b(layout-content) {
  width: 100%;
  height: 100%;
  @include when(flex) {
    display: flex;
    min-width: 0;
    min-height: 0;
  }
  @include when(vertical) {
    flex-direction: column;
  }
  @include when(overflow) {
    overflow: auto;
  }
}

@include b(layout-header) {
  width: 100%;
  flex: none;
}

@include b(layout-footer) {
  width: 100%;
  flex: none;
}
