@import '~@hui-pro/theme/index.scss';
@import '~@hui-pro/ellipsis/theme/index.scss';
@import './reset.scss';
@import './var.scss';
@import './page/page.scss';
@import './page/page-menu.scss';
@import './page/page-container.scss';
@import './page/page-header.scss';
@import './page/page-footer.scss';
@import './page/page-sidebar.scss';
@import './page/page-content.scss';
@import './page/page-action.scss';
@import './page/page-search.scss';
@import './page/page-group.scss';
@import './page/page-table.scss';
@import './page/page-button-group.scss';
@import './page/page-detail.scss';
@import './page/styles/index.scss';
