$--page-gutter: 12px; // 页面核心间距
$--page-herder-height: 40px; // 页面头部高度
$--page-footer-height: 52px; // 页面底部栏高度
$--page-action-height: 44px; // 页面操作栏高度
$--page-border: 1px solid $--color-neutral-6; // 边框线

$--menu-box-shadow: none !default;
