@use "sass:math";
@import 'mixins/mixins';
@import 'common/var';

@include b(badge) {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  @include e(content) {
    display: inline-block;
    // height 与 line-height 一致时高度有问题
    // height: $--badge-size;
    min-width: 13px;
    padding: 0 $--badge-padding;
    background-color: $--badge-fill;
    border-radius: $--badge-radius;
    color: $--color-white;
    font-size: $--badge-font-size;
    line-height: $--badge-size;
    text-align: center;
    white-space: nowrap;

    @include when(fixed) {
      position: absolute;
      top: 0;
      right: #{1 + math.div($--badge-size, 2)};
      transform: translateY(-50%) translateX(100%);

      @include when(dot) {
        right: 5px;
      }
    }

    @include when(dot) {
      right: 0;
      width: 8px;
      min-width: 8px;
      height: 8px;
      padding: 0;
      border-radius: 50%;
    }

    @each $type in (primary, success, warning, info, danger) {
      @include m($type) {
        @if $type == primary {
          background-color: $--color-brand;
        } @else if $type == success {
          background-color: $--color-success;
        } @else if $type == warning {
          background-color: $--color-warning;
        } @else if $type == info {
          background-color: $--color-info;
        } @else {
          background-color: $--color-danger;
        }
      }
    }
  }
}
