@import 'mixins/mixins';
@import 'common/var';

@include b(card) {
  overflow: hidden;
  border: 1px solid $--card-border-color;
  background-color: $--fill;
  border-radius: $--card-border-radius;
  color: $--color-neutral-2;
  transition: 0.3s;

  @include when(always-shadow) {
    box-shadow: $--box-shadow;
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: $--box-shadow;
    }
  }

  @include e(header) {
    box-sizing: border-box;
    padding: #{$--card-padding - 2 $--card-padding};
    border-bottom: 1px solid $--card-border-color;
  }

  @include e(body) {
    padding: $--card-padding;
  }
}
