@import 'mixins/mixins';
@import 'common/var';

@include b(carousel) {
  position: relative;
  overflow-x: hidden;

  @include e(container) {
    position: relative;
    height: 300px;
  }

  @include e(arrow) {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: $--carousel-arrow-size;
    height: $--carousel-arrow-size;
    padding: 0;
    margin: 0;
    border: none;
    background-color: $--carousel-arrow-background;
    border-radius: 50%;
    color: $--color-white;
    cursor: pointer;
    font-size: $--carousel-arrow-font-size;
    outline: none;
    text-align: center;
    transform: translateY(-50%);
    transition: 0.3s;

    @include m(left) {
      left: 16px;
    }

    @include m(right) {
      right: 16px;
    }

    &:hover {
      background-color: $--carousel-arrow-hover-background;
    }

    & i {
      position: relative;
      top: 1px;
      left: 1px;
      cursor: pointer;
    }
  }

  @include e(indicators) {
    position: absolute;
    z-index: $--index-normal + 1;
    bottom: 0;
    left: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    @include m(outside) {
      position: static;
      bottom: $--carousel-indicator-height +
        $--carousel-indicator-padding-vertical * 2;
      text-align: center;
      -ms-transform: none;
      transform: none;
      button {
        background-color: $--carousel-indicator-out-color;
        opacity: 0.24;
      }
      .el-carousel__indicator:hover button {
        opacity: 0.64;
      }
    }

    @include m(labels) {
      right: 0;
      left: 0;
      text-align: center;
      -ms-transform: none;
      transform: none;

      .el-carousel__button {
        width: auto;
        height: auto;
        padding: 2px 18px;
        font-size: 12px;
      }

      .el-carousel__indicator {
        padding: 6px 4px;
      }
    }
  }

  @include e(indicator) {
    display: inline-block;
    padding: $--carousel-indicator-padding-vertical
      $--carousel-indicator-padding-horizontal;
    background-color: transparent;
    cursor: pointer;

    &:hover button {
      opacity: 0.72;
    }

    @include when(active) {
      button {
        opacity: 1;
      }
    }
  }

  @include e(button) {
    display: block;
    width: $--carousel-indicator-width;
    height: $--carousel-indicator-height;
    padding: 0;
    margin: 0;
    border: none;
    background-color: $--color-white;
    cursor: pointer;
    opacity: 0.48;
    outline: none;
    transition: 0.3s;
  }
}

.carousel-arrow-left-enter,
.carousel-arrow-left-leave-active {
  opacity: 0;
  -ms-transform: translateY(-50%) translateX(-10px);
  transform: translateY(-50%) translateX(-10px);
}

.carousel-arrow-right-enter,
.carousel-arrow-right-leave-active {
  opacity: 0;
  -ms-transform: translateY(-50%) translateX(10px);
  transform: translateY(-50%) translateX(10px);
}
