@import 'mixins/mixins';
@import 'common/var';

@include b(carousel) {
  @include e(item) {
    position: absolute;
    z-index: $--index-normal - 1;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s ease-in-out;
    @include when(active) {
      z-index: $--index-normal + 1;
      opacity: 1;
    }

    @include m(card) {
      width: 50%;
      &.is-in-stage {
        z-index: $--index-normal;
        cursor: pointer;
        &:hover .el-carousel__mask,
        &.is-hover .el-carousel__mask {
          opacity: 0.12;
        }
      }
      &.is-active {
        z-index: $--index-normal + 1;
      }
    }
  }

  @include e(mask) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $--color-white;
    opacity: 0.24;
    transition: 0.2s;
  }
}
