@import 'common/var';
@import 'mixins/utils';
@import 'mixins/_button';
@import 'svg-icon';

$namespace: 'el';

@keyframes checkboxExtension {
  0% {
    opacity: 0.45;
    transform: scale(1.25);
  }

  100% {
    opacity: 0;
    transform: scale(1.65);
  }
}

@include b(checkbox) {
  position: relative;
  display: inline-block;
  color: $--checkbox-color;
  cursor: pointer;
  line-height: 1.4;
  user-select: none;
  vertical-align: sub;
  @include utils-ellipsis;
  @include when(bordered) {
    padding: $--checkbox-bordered-padding;
    border: $--border-base;
    border-radius: $--border-radius;

    &.is-checked {
      border-color: $--color-brand;
    }

    &.is-disabled {
      cursor: not-allowed;
    }

    & + .el-checkbox.is-bordered {
      margin-left: 10px;
    }
  }
  @include m(small) {
    @include when(bordered) {
      padding: $--checkbox-bordered-small-padding;
      .el-checkbox__label {
        font-size: $--button-small-font-size;
      }
    }
  }
  @include m(mini) {
    @include when(bordered) {
      padding: $--checkbox-bordered-mini-padding;
      .el-checkbox__label {
        font-size: $--button-mini-font-size;
      }
    }
  }
  @include e(input) {
    display: inline-block;
    width: $--checkbox-input-width;
    height: $--checkbox-input-height;
    padding: 4px;
    cursor: pointer;
    line-height: 1;
    outline: none;
    vertical-align: sub;
    @include when(checked) {
      .el-checkbox__inner {
        border-color: $--checkbox-checked-input-border-color;
        // background-color: $--checkbox-checked-input-fill;
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: '';
        }
        &:hover {
          border-color: $--checkbox-input-border-color-hover;
          background-color: $--checkbox-input-fill-color-hover;
        }
        &:active {
          border-color: $--checkbox-input-border-color-pre;
          background-color: $--checkbox-input-fill-color-pre;
        }
      }
      .h-svg-icon-wrapper {
        transform: scale(1);
        transition: all 0.2s ease;
      }
    }
    @include when(disabled) {
      & + .el-checkbox__label {
        color: $--color-neutral-5 !important;
        cursor: not-allowed;
      }

      .el-checkbox__inner {
        border-color: $--checkbox-disabled-input-border-color !important;
        background-color: $--checkbox-disabled-input-fill !important;
        cursor: not-allowed;

        .el-checkbox__tick {
          fill: $--checkbox-disabled-icon-color !important;
        }

        & + .el-checkbox__label {
          cursor: not-allowed;
        }
      }
      &.is-checked {
        .el-checkbox__inner {
          border-color: $--checkbox-disabled-checked-input-border-color !important;
          background-color: $--checkbox-disabled-checked-input-fill !important;
        }
      }
      &.is-indeterminate {
        .el-checkbox__inner {
          border-color: $--checkbox-disabled-checked-input-border-color !important;
          background-color: $--checkbox-disabled-checked-input-fill !important;

          &::before {
            background-color: $--checkbox-disabled-checked-icon-color !important;
          }
        }
      }
    }

    /* @when focus {
      .el-checkbox__inner {
        border-color: var(--checkbox-input-border-color-hover);
      }
    } */
    @include when(indeterminate) {
      .el-checkbox__inner {
        border-color: $--checkbox-checked-input-border-color;

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 6px;
          height: 6px;
          background-color: $--color-brand;
          border-radius: 0;
          transform: translate(-50%, -50%) scale(1);
          transition: all 0.2s ease;
        }
      }
    }
  }
  @include e(inner) {
    position: relative;
    z-index: $--index-normal;
    display: inline-block;
    width: $--checkbox-inner-width;
    height: $--checkbox-inner-height;
    box-sizing: border-box;
    border: $--checkbox-input-border;
    background-color: $--color-white;
    border-radius: $--checkbox-input-border-radius;
    &:hover {
      border-color: $--checkbox-input-border-color-hover;
      background-color: $--checkbox-input-fill-color-hover;
    }
    &:active {
      border-color: $--checkbox-input-border-color-pre;
      background-color: $--checkbox-input-fill-color-pre;
    }
    .h-svg-icon-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0);
      .h-svg-icon {
        width: inherit;
        height: inherit;
      }
      .el-checkbox__tick {
        fill: $--checkbox-tick-fill;
      }
    }
    &::before {
      width: 0;
      height: 0;
      content: '';
      transform: translate(-50%, -50%) scale(0);
    }
  }
  @include e(original) {
    position: absolute;
    z-index: -1;
    // left: -999px;
    margin: 0;
    opacity: 0;
    outline: none;
    size: 0;
  }
  @include e(icon) {
    position: relative;
    width: $--checkbox-input-width;
    height: $--checkbox-input-height;
    padding: 0 18px 0 12px;
    margin-left: -4px;
    i {
      position: absolute;
      top: -1px;
      left: 0;
      font-size: 24px;
    }
  }
  @include e(label) {
    display: inline-block;
    overflow: hidden;
    max-width: 256px;
    margin-bottom: -1px;
    color: $--font-color-regular;
    font-size: $--checkbox-font-size;
    text-overflow: ellipsis;
    vertical-align: inherit;
    white-space: nowrap;
  }
}
