@charset "UTF-8";
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/_button';

@include b(checkbox-button) {
  position: relative;
  display: inline-block;

  @include e(inner) {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: $--height;
    box-sizing: border-box;
    margin: 0;
    margin-left: -1px;
    border: $--border-base;
    -webkit-appearance: none;
    background: $--option-fill;
    color: $--button-default-color;
    cursor: pointer;
    line-height: 2.2857;
    outline: none;
    text-align: center;
    text-overflow: ellipsis;
    transition: $--transition-all;
    vertical-align: middle;
    white-space: nowrap;

    @include button-size(
      $--button-padding-vertical,
      $--button-padding-horizontal,
      $--button-font-size,
      0
    );

    &:hover {
      background-color: $--option-fill-hov;
      color: $--option-hov-color;
    }

    &:active {
      background-color: $--option-fill-pre;
      color: $--option-pre-color;
    }

    & [class*='el-icon-'] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  @include e(orig-checkbox) {
    position: absolute;
    z-index: -1;
    left: -999px;
    opacity: 0;
    outline: none;

    &:checked {
      & + .el-checkbox-button__inner {
        background-color: $--color-neutral-6;
      }
    }

    &:disabled {
      & + .el-checkbox-button__inner {
        background-color: $--disabled-fill;
        background-image: none;
        color: $--button-white-disable-color;
        cursor: not-allowed;
      }

      &:checked {
        & + .el-checkbox-button__inner {
          background-color: $--color-neutral-8;
        }
      }
    }
  }

  @include when(simple) {
    @include e(orig-checkbox) {
      & + .el-checkbox-button__inner {
        &:hover {
          background: $--color-neutral-9;
        }

        &:active {
          background: $--color-neutral-7;
        }
      }

      &:checked {
        & + .el-checkbox-button__inner {
          border-color: $--color-brand;
          background-color: $--option-fill;
          color: $--color-brand-80;
        }
      }

      &:disabled {
        & + .el-checkbox-button__inner {
          border-color: $--border-color;
          background-color: $--checkbox-disabled-checked-input-fill;
        }
      }
    }

    @include when(checked) {
      + .is-simple {
        .el-checkbox-button__inner {
          border-left-color: $--color-brand;
        }
      }

      @include when(disabled) {
        + .is-simple {
          .el-checkbox-button__inner {
            border-left-color: $--border-color;
          }
        }
      }
    }
  }

  &:last-child {
    .el-checkbox-button__inner {
      border-radius: 0 $--border-radius $--border-radius 0;
    }
  }

  &:first-child {
    .el-checkbox-button__inner {
      border-left: $--border-base;
      border-radius: $--border-radius 0 0 $--border-radius;
    }
  }

  &:first-child:last-child {
    .el-checkbox-button__inner {
      border-radius: $--border-radius;
    }
  }

  @include m(large) {
    & .el-checkbox-button__inner {
      height: $--height-lg;
      line-height: 2.5714;
      @include button-size(
        $--button-large-padding-vertical,
        $--button-large-padding-horizontal,
        $--button-large-font-size,
        0
      );
    }
  }

  @include m(small) {
    & .el-checkbox-button__inner {
      height: $--button-small-height;
      line-height: 2;
      @include button-size(
        $--button-small-padding-vertical,
        $--button-small-padding-horizontal,
        $--button-small-font-size,
        0
      );
    }
  }

  @include m(mini) {
    & .el-checkbox-button__inner {
      height: $--button-mini-height;
      line-height: 1.7143;
      @include button-size(
        $--button-mini-padding-vertical,
        $--button-mini-padding-horizontal,
        $--button-mini-font-size,
        0
      );
    }
  }
}
