@import 'mixins/mixins';
@import 'mixins/utils';
@import 'common/var';

@include b(form) {
  @include m(label-left) {
    .el-form-item__label {
      text-align: left;
    }
  }
  @include m(label-top) {
    .el-form-item__label {
      display: inline-block;
      width: 100%;
      height: 24px;
      padding: 0;
      margin-bottom: 4px;
      float: none;
      text-align: left;
    }
    .el-form-item__introduction {
      margin-right: 0;
      margin-left: 2px;
    }
  }
  @include m(inline) {
    .el-form-item {
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
    }
    .el-form-item__label {
      display: inline-block;
      float: none;
    }
    .el-form-item__content {
      display: inline-block;
      vertical-align: top;
    }
    &.el-form--label-top .el-form-item__content {
      display: block;
    }
  }
  @include m(error-right) {
    .el-form-item.is-error {
      margin-bottom: $--form-item-gutter;
    }
  }
  @include m(grid-layout) {
    .el-form-item__label {
      width: 100%;
    }
  }

  /* 纯文本表单 */
  &.text-form {
    .el-form-item__label,
    .el-form-item__content {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 20px;
    }
    &:not(.el-form--label-top) .el-form-item {
      margin-bottom: 16px;
    }
  }
}
@include b(form-item) {
  position: relative;
  margin-bottom: $--form-item-gutter;
  transition: none;
  @include utils-clearfix;

  @include when(item-group) {
    margin-bottom: 0;
  }

  @include e(label) {
    position: relative;
    height: 32px;
    box-sizing: border-box;
    padding: 4px 12px 4px 0;
    color: $--color-neutral-2;
    float: left;
    font-size: $--font-size;
    line-height: 24px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    &.text-wrap {
      height: initial;
      .el-form-item__label-text {
        overflow: initial;
        text-overflow: initial;
        white-space: initial;
        word-wrap: break-word;
      }
    }
  }

  @include e(label-text) {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include e(required) {
    display: none;
    margin-right: 2px;
    color: $--color-danger;
    vertical-align: top;
  }

  @include e(required-right) {
    display: none;
    margin-left: 2px;
    color: $--color-danger;
    vertical-align: top;
  }

  @include when(required) {
    &:not(.is-required-right) .el-form-item__required {
      display: inline-block;
    }
  }
  @include when(required-right) {
    .el-form-item__required-right {
      display: inline-block;
    }
  }

  /* 介绍信息 */
  @include e(introduction) {
    margin-right: 2px;
    font-size: 24px;
    vertical-align: top;
  }

  @include e(content) {
    font-size: $--font-size;
    line-height: 32px;
    @include utils-clearfix;
  }

  @include e(error) {
    color: $--color-danger;
    font-size: $--font-size;
    line-height: $--form-error-line-height;
  }

  @include e(ellipsis) {
    overflow: hidden;
    width: 100%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }

  /* 描述信息 */
  @include e(description) {
    color: $--color-neutral-3;
    font-size: $--font-size;
    line-height: $--form-error-line-height;
  }

  @include when(error) {
    // margin-bottom: 4px;
    .h-ip-input,
    .el-input__inner,
    .el-textarea,
    .el-textarea__inner {
      border-color: $--color-danger;
    }
    .el-textarea__count {
      color: $--color-danger;
    }
    .el-input-group__append,
    .el-input-group__prepend {
      .el-input__inner {
        border-color: transparent;
      }
    }
  }

  @include when(show-error-message) {
    margin-bottom: 4px;
  }

  &.has-description {
    .el-form-item__error {
      position: static;
    }
  }
}

/* 标签在顶部，显示介绍文字的情况 */
// .el-form--label-top {
//   .el-form-item__introduction {
//     margin-left: 8px;
//   }
//   .el-form-item.has-introduction .el-form-item__label {
//     margin-right: 0;
//   }
// }

/* 错误信息进场动画 */
.form-error-zoom-enter-active {
  opacity: 1;
  -ms-transform: scaleX(1);
  transform: scaleY(1);
  -ms-transform-origin: center top;
  transform-origin: center top;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
    opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.form-error-zoom-enter {
  opacity: 0;
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

/* 错误信息消失时修改 position: absolute，使错误信息不占空间 */
.form-error-zoom-leave-active {
  position: absolute;
}
