@import 'common/var-common.scss';

@font-face {
  font-family: 'h-icons';
  src: url('#{$--font-path}/h-icons.eot');
  src: url('#{$--font-path}/h-icons.eot?#iefix') format('eot'),
    url('#{$--font-path}/h-icons.woff') format('woff'),
    url('#{$--font-path}/h-icons.ttf') format('truetype'),
    url('#{$--font-path}/h-icons.svg#h-icons') format('svg');
}

[class^='h-icon-feedback'],
[class*=' h-icon-feedback'] {
  position: relative;
  .path2 {
    position: absolute;
    top: 0;
    left: 1em;
  }
  .path2,
  .path1 {
    font-family: 'h-icons', sans-serif !important;
  }
}

[class^='h-icon-'],
[class*=' h-icon-'] {
  display: inline-block;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'h-icons', sans-serif !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  vertical-align: baseline;
}

.h-icon-access::before {
  content: '\e900';
}

.h-icon-activate::before {
  content: '\e901';
}

.h-icon-add::before {
  content: '\e902';
}

.h-icon-add_sm::before {
  content: '\e903';
}

.h-icon-alarm::before {
  content: '\e904';
}

.h-icon-angle_down::before {
  content: '\e906';
}

.h-icon-angle_down_sm::before {
  content: '\e907';
}

.h-icon-angle_left::before {
  content: '\e908';
}

.h-icon-angle_left_sm::before {
  content: '\e909';
}

.h-icon-angle_line_down::before {
  content: '\e90a';
}

.h-icon-angle_line_left::before {
  content: '\e90b';
}

.h-icon-angle_line_right::before {
  content: '\e90c';
}

.h-icon-angle_line_up::before {
  content: '\e90d';
}

.h-icon-angle_right::before {
  content: '\e90e';
}

.h-icon-angle_right_sm::before {
  content: '\e90f';
}

.h-icon-angle_up::before {
  content: '\e910';
}

.h-icon-angle_up_sm::before {
  content: '\e911';
}

.h-icon-angles_down_sm::before {
  content: '\e912';
}

.h-icon-angles_left_sm::before {
  content: '\e913';
}

.h-icon-angles_right_sm::before {
  content: '\e914';
}

.h-icon-angles_up_sm::before {
  content: '\e915';
}

.h-icon-arrow_down::before {
  content: '\e916';
}

.h-icon-arrow_left::before {
  content: '\e917';
}

.h-icon-arrow_right::before {
  content: '\e918';
}

.h-icon-arrow_up::before {
  content: '\e919';
}

.h-icon-associate::before {
  content: '\e91a';
}

.h-icon-attach::before {
  content: '\e91b';
}

.h-icon-blocked::before {
  content: '\e91c';
}

.h-icon-brand_alipay::before {
  content: '\e91d';
}

.h-icon-brand_baidu::before {
  content: '\e91e';
}

.h-icon-brand_ctrip::before {
  content: '\e91f';
}

.h-icon-brand_dingding::before {
  content: '\e920';
}

.h-icon-brand_douban::before {
  content: '\e921';
}

.h-icon-brand_kuaishou::before {
  content: '\e923';
}

.h-icon-brand_momo::before {
  content: '\e924';
}

.h-icon-brand_qq::before {
  content: '\e925';
}

.h-icon-brand_taobao::before {
  content: '\e926';
}

.h-icon-brand_wechat::before {
  content: '\e927';
}

.h-icon-brand_weibo::before {
  content: '\e928';
}

.h-icon-calendar::before {
  content: '\e929';
}

.h-icon-capital::before {
  content: '\e92a';
}

.h-icon-capture::before {
  content: '\e92b';
}

.h-icon-car::before {
  content: '\e92c';
}

.h-icon-clock::before {
  content: '\e92d';
}

.h-icon-close::before {
  content: '\e92e';
}

.h-icon-close_f::before {
  content: '\e92f';
}

.h-icon-close_sm::before {
  content: '\e930';
}

.h-icon-comment::before {
  content: '\e931';
}

.h-icon-control_pole::before {
  content: '\e932';
}

.h-icon-copy::before {
  content: '\e933';
}

.h-icon-delete::before {
  content: '\e934';
}

.h-icon-details::before {
  content: '\e935';
}

.h-icon-disable::before {
  content: '\e936';
}

.h-icon-disassociate::before {
  content: '\e937';
}

.h-icon-done::before {
  content: '\e938';
}

.h-icon-download::before {
  content: '\e939';
}

.h-icon-edit::before {
  content: '\e93a';
}

.h-icon-enable::before {
  content: '\e93b';
}

.h-icon-export::before {
  content: '\e93c';
}

.h-icon-filter::before {
  content: '\e93d';
}

.h-icon-filter_f::before {
  content: '\e93e';
}

.h-icon-folder::before {
  content: '\e93f';
}

.h-icon-folder_adding::before {
  content: '\e940';
}

.h-icon-folder_open::before {
  content: '\e941';
}

.h-icon-forward::before {
  content: '\e942';
}

.h-icon-group_collapse::before {
  content: '\e943';
}

.h-icon-group_expand::before {
  content: '\e944';
}

.h-icon-help::before {
  content: '\e945';
}

.h-icon-histogram::before {
  content: '\e946';
}

.h-icon-home::before {
  content: '\e947';
}

.h-icon-import::before {
  content: '\e948';
}

.h-icon-info::before {
  content: '\e949';
}

.h-icon-internet::before {
  content: '\e94a';
}

.h-icon-line_chart::before {
  content: '\e94b';
}

.h-icon-link::before {
  content: '\e94c';
}

.h-icon-liveview::before {
  content: '\e94d';
}

.h-icon-location::before {
  content: '\e94e';
}

.h-icon-lock::before {
  content: '\e94f';
}

.h-icon-mark::before {
  content: '\e950';
}

.h-icon-mark_f::before {
  content: '\e951';
}

.h-icon-menu::before {
  content: '\e952';
}

.h-icon-menu_f::before {
  content: '\e953';
}

.h-icon-menu_leftbar::before {
  content: '\e954';
}

.h-icon-menu_sm::before {
  content: '\e955';
}

.h-icon-message::before {
  content: '\e956';
}

.h-icon-message_off::before {
  content: '\e957';
}

.h-icon-minus::before {
  content: '\e958';
}

.h-icon-more_hori::before {
  content: '\e959';
}

.h-icon-more_hori_sm::before {
  content: '\e95a';
}

.h-icon-more_verti::before {
  content: '\e95b';
}

.h-icon-password_editing::before {
  content: '\e95c';
}

.h-icon-password_resetting::before {
  content: '\e95d';
}

.h-icon-password_unvisible::before {
  content: '\e95e';
}

.h-icon-password_visible::before {
  content: '\e95f';
}

.h-icon-password_visible_f::before {
  content: '\e960';
}

.h-icon-picture::before {
  content: '\e961';
}

.h-icon-pie_chart::before {
  content: '\e962';
}

.h-icon-plan::before {
  content: '\e963';
}

.h-icon-print::before {
  content: '\e964';
}

.h-icon-qrcode::before {
  content: '\e965';
}

.h-icon-refresh::before {
  content: '\e966';
}

.h-icon-refresh_sm::before {
  content: '\e967';
}

.h-icon-reset::before {
  content: '\e968';
}

.h-icon-restart::before {
  content: '\e969';
}

.h-icon-save::before {
  content: '\e96a';
}

.h-icon-screenshot::before {
  content: '\e96b';
}

.h-icon-search::before {
  content: '\e96c';
}

.h-icon-setting::before {
  content: '\e96d';
}

.h-icon-share::before {
  content: '\e96e';
}

.h-icon-shutdown::before {
  content: '\e96f';
}

.h-icon-star::before {
  content: '\e970';
}

.h-icon-star_f::before {
  content: '\e971';
}

.h-icon-status::before {
  content: '\e9a2';
}

.h-icon-switch::before {
  content: '\e972';
}

.h-icon-tag::before {
  content: '\e973';
}

.h-icon-tag_f::before {
  content: '\e974';
}

.h-icon-talk_off::before {
  content: '\e975';
}

.h-icon-talk_on::before {
  content: '\e976';
}

.h-icon-talk_on_f::before {
  content: '\e977';
}

.h-icon-telephone::before {
  content: '\e978';
}

.h-icon-telephone_f::before {
  content: '\e979';
}

.h-icon-tip_error::before {
  content: '\e97a';
}

.h-icon-tip_info::before {
  content: '\e97b';
}

.h-icon-tip_question::before {
  content: '\e97c';
}

.h-icon-tip_right::before {
  content: '\e97d';
}

.h-icon-unlock::before {
  content: '\e97e';
}

.h-icon-update::before {
  content: '\e97f';
}

.h-icon-upload::before {
  content: '\e980';
}

.h-icon-user::before {
  content: '\e981';
}

.h-icon-users::before {
  content: '\e982';
}

.h-icon-window_max::before {
  content: '\e983';
}

.h-icon-window_min::before {
  content: '\e984';
}

.h-icon-window_restor::before {
  content: '\e985';
}

.h-icon-windows_lock::before {
  content: '\e986';
}

.h-icon-windows_maximum::before {
  content: '\e987';
}

.h-icon-windows_minimize::before {
  content: '\e988';
}

.h-icon-zoom_in::before {
  content: '\e989';
}

.h-icon-zoom_out::before {
  content: '\e98a';
}

.h-icon-ctrl_anchor::before {
  content: '\e9b7';
}

.h-icon-ctrl_pageback::before {
  content: '\e9b6';
}

.h-icon-info_link::before {
  content: '\e9b5';
}

.h-icon-info_camera::before {
  content: '\e9ad';
}

.h-icon-info_card::before {
  content: '\e9ae';
}

.h-icon-info_data::before {
  content: '\e9af';
}

.h-icon-info_date::before {
  content: '\e9b0';
}

.h-icon-info_days::before {
  content: '\e9b1';
}

.h-icon-info_email::before {
  content: '\e9b2';
}

.h-icon-info_female::before {
  content: '\e9b3';
}

.h-icon-info_idcard::before {
  content: '\e9b4';
}

.h-icon-info_attach::before {
  content: '\e9ac';
}

.h-icon-info_liveview::before {
  content: '\e905';
}

.h-icon-info_location::before {
  content: '\e9a1';
}

.h-icon-info_male::before {
  content: '\e9a3';
}

.h-icon-info_organization::before {
  content: '\e9a4';
}

.h-icon-info_parking::before {
  content: '\e9a5';
}

.h-icon-info_phone::before {
  content: '\e9a6';
}

.h-icon-info_sex::before {
  content: '\e9a7';
}

.h-icon-info_task::before {
  content: '\e9a8';
}

.h-icon-info_time::before {
  content: '\e9a9';
}

.h-icon-info_user::before {
  content: '\e9aa';
}

.h-icon-info_vs::before {
  content: '\e9ab';
}

.h-icon-feedback_error_lg .path1::before {
  color: rgb(250, 50, 57);
  content: '\e98b';
}

.h-icon-feedback_error_lg .path2::before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e98c';
}

.h-icon-feedback_error_md::before {
  color: #fa3239;
  content: '\e98d';
}

.h-icon-feedback_error_sm .path1::before {
  color: rgb(250, 50, 57);
  content: '\e98e';
}

.h-icon-feedback_error_sm .path2::before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e98f';
}

.h-icon-feedback_info_lg .path1::before {
  color: rgb(33, 150, 243);
  content: '\e990';
}

.h-icon-feedback_info_lg .path2::before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e991';
}

.h-icon-feedback_info_md::before {
  color: #2196f3;
  content: '\e992';
}

.h-icon-feedback_info_sm .path1::before {
  color: rgb(33, 150, 243);
  content: '\e993';
}

.h-icon-feedback_info_sm .path2::before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e994';
}

.h-icon-feedback_question_lg .path1::before {
  color: rgb(255, 204, 0);
  content: '\e995';
}

.h-icon-feedback_question_lg .path2::before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e996';
}

.h-icon-feedback_success_lg .path1::before {
  color: rgb(2, 191, 15);
  content: '\e997';
}

.h-icon-feedback_success_lg .path2::before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e998';
}

.h-icon-feedback_success_md::before {
  color: #02bf0f;
  content: '\e999';
}

.h-icon-feedback_success_sm .path1::before {
  color: rgb(2, 191, 15);
  content: '\e99a';
}

.h-icon-feedback_success_sm .path2::before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e99b';
}

.h-icon-feedback_warning_lg .path1::before {
  color: rgb(255, 149, 44);
  content: '\e99c';
}

.h-icon-feedback_warning_lg .path2::before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e99d';
}

.h-icon-feedback_warning_md::before {
  color: #ff952c;
  content: '\e99e';
}

.h-icon-feedback_warning_sm .path1::before {
  color: rgb(255, 149, 44);
  content: '\e99f';
}

.h-icon-feedback_warning_sm .path2::before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e9a0';
}
