@import 'mixins/mixins';
@import './common/var.scss';

@include b(notification) {
  position: fixed;
  right: 16px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $--fill;
  border-radius: $--border-radius-sm;
  box-shadow: $--box-shadow-lg;
  transition: opacity 0.3s, transform 0.3s, left 0.3s, right 0.3s, top 0.4s,
    bottom 0.3s;

  @include m(small) {
    width: $--notification-width-small;
  }

  @include m(middle) {
    width: $--notification-width-middle;
  }

  @include m(large) {
    width: $--notification-width-large;
  }

  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }

  @include e(group) {
    padding: $--notification-padding-top 20px;
    margin-left: 0;

    p {
      margin: 0;
      word-break: break-word;
    }
  }

  @include e(title) {
    margin: 0;
    color: $--notification-title-color;
    font-size: $--notification-title-font-size;
    font-weight: 500;
    word-break: break-word;
  }

  @include e(content) {
    margin: 8px 0 0 0;
    color: $--notification-color;
    font-size: $--notification-font-size;
    line-height: 21px;
    text-align: justify;
    word-break: break-word;
  }

  @include e(pagination) {
    width: 100%;
    height: 28px;
    padding-top: 3px;
    background-color: $--notification-pagination-color;
    text-align: center;
  }

  @include e(closeBtn) {
    position: absolute;
    top: 0;
    right: 0;
    width: $--notification-padding-top;
    color: $--notification-close-color;
    cursor: pointer;
    font-size: 24px;
    line-height: $--notification-padding-top;
    text-align: center;

    &:hover {
      color: $--notification-close-hover-color;
    }

    &:active {
      color: $--notification-close-active-color;
    }
  }
}

.el-notification-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.el-notification-fade-leave-active {
  opacity: 0;
}
