@import 'mixins/mixins';
@import 'common/var';

@include b(popper) {
  .popper__arrow,
  .popper__arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }

  .popper__arrow {
    border-width: $--popper-arrow-size;
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
  }

  .popper__arrow::after {
    border-width: $--popper-arrow-size;
    content: ' ';
  }

  &[x-placement^='top'] {
    // margin-bottom: #{$--popper-arrow-size + 6};
    margin-bottom: #{4};
  }

  &[x-placement^='top'] .popper__arrow {
    bottom: -$--popper-arrow-size;
    left: 50%;
    // margin-right: #{math.div($--tooltip-arrow-size, 2)};
    border-top-color: $--popover-border-color;
    border-bottom-width: 0;

    &::after {
      bottom: 1px;
      margin-left: -$--popper-arrow-size;
      border-top-color: $--popover-fill;
      border-bottom-width: 0;
    }
  }

  &[x-placement^='bottom'] {
    // margin-top: #{$--popper-arrow-size + 6};
    margin-top: #{4};
  }

  &[x-placement^='bottom'] .popper__arrow {
    top: -$--popper-arrow-size;
    left: 50%;
    // margin-right: #{math.div($--tooltip-arrow-size, 2)};
    border-top-width: 0;
    border-bottom-color: $--popover-border-color;

    &::after {
      top: 1px;
      margin-left: -$--popper-arrow-size;
      border-top-width: 0;
      border-bottom-color: $--popover-fill;
    }
  }

  &[x-placement^='right'] {
    // margin-left: #{$--popper-arrow-size + 6};
    margin-left: #{4};
  }

  &[x-placement^='right'] .popper__arrow {
    top: 50%;
    left: -$--popper-arrow-size;
    // margin-bottom: math.div($--tooltip-arrow-size, 2);
    border-right-color: $--popover-border-color;
    border-left-width: 0;

    &::after {
      bottom: -$--popper-arrow-size;
      left: 1px;
      border-right-color: $--popover-fill;
      border-left-width: 0;
    }
  }

  &[x-placement^='left'] {
    // margin-right: #{$--popper-arrow-size + 6};
    margin-right: #{4};
  }

  &[x-placement^='left'] .popper__arrow {
    top: 50%;
    right: -$--popper-arrow-size;
    // margin-bottom: math.div($--tooltip-arrow-size, 2);
    border-right-width: 0;
    border-left-color: $--popover-border-color;

    &::after {
      right: 1px;
      bottom: -$--popper-arrow-size;
      margin-left: -$--popper-arrow-size;
      border-right-width: 0;
      border-left-color: $--popover-fill;
    }
  }
}
