@import './common/var.scss';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(progress) {
  position: relative;
  line-height: 1;

  @include e(text) {
    display: inline-block;
    overflow: hidden;
    width: 98px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 1;
    text-overflow: ellipsis;
    vertical-align: middle;

    i {
      vertical-align: middle;
    }
  }

  @include e(status-text) {
    vertical-align: middle;
  }

  @include m(circle) {
    display: inline-block;

    .el-progress__text {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin: 0;
      color: $--color-neutral-2;
      text-align: center;
      transform: translate(0, -50%);

      i {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  @include when(text-vertical) {
    .el-progress__text {
      display: block;
      width: 100%;
      max-width: initial;
      height: 20px;
      margin-top: 8px;
      margin-left: 0;
      line-height: 20px;
      text-align: center;
      word-wrap: break-word;
    }

    .el-progress-bar {
      padding-right: 0;
    }
  }

  @include m(line) {
    font-size: 0;
    white-space: nowrap;
  }

  @include m(without-text) {
    .el-progress__text {
      display: none;
    }

    .el-progress-bar {
      display: block;
      padding-right: 0;
      margin-right: 0;
    }
  }

  @include m(text-inside) {
    .el-progress-bar {
      padding-right: 0;
      margin-right: 0;
    }
  }

  @include when(success) {
    .el-progress-bar__inner {
      background-color: $--color-success;
    }

    .el-progress__text {
      color: $--color-success;
    }
  }

  @include when(exception) {
    .el-progress-bar__inner {
      background-color: $--color-danger;
    }

    .el-progress__text {
      color: $--color-danger;
    }
  }

  @include m(small) {
    .el-progress-bar {
      width: 160px;
      padding-right: 65px;
      margin-right: -65px;
    }

    .el-progress__text {
      width: 57px;
    }
  }
}

@include b(progress-bar) {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding-right: 106px;
  margin-right: -106px;
  vertical-align: middle;

  @include e(outer) {
    position: relative;
    overflow: hidden;
    height: 12px;
    background-color: $--progress-outer-fill;
    vertical-align: middle;
  }

  @include e(inner) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $--color-info;
    line-height: 1;
    text-align: right;

    @include utils-vertical-center;
  }

  @include e(innerText) {
    display: inline-block;
    margin: 0 5px;
    color: $--color-white;
    font-size: 12px;
    vertical-align: middle;
  }

  @include e(dynamic-block) {
    width: 50%;
    height: 100%;
    animation: 1.5s linear infinite progress-dynamic-block;
    background: linear-gradient(
      to right,
      rgba(7, 251, 239, 0) 0%,
      rgba(7, 251, 239, 0.5) 50%,
      rgba(7, 251, 239, 0) 100%
    );
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 32px 0;
  }
}

@keyframes progress-dynamic-block {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}
