@import 'mixins/mixins';
@import 'mixins/utils';
@import 'common/var';

@keyframes radioExtension {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.65);
  }
}

@include b(radio) {
  position: relative;
  display: inline-block;
  max-width: 256px;
  color: $--radio-color;
  cursor: pointer;
  font-family: $--font-family;
  outline: none;
  user-select: none;
  vertical-align: sub;
  @include utils-ellipsis;
  & + .el-radio {
    margin-left: 16px;
  }

  @include when(bordered) {
    padding: $--radio-bordered-padding;
    border: $--border-base;
    border-radius: $--border-radius;

    &.is-checked {
      border-color: $--color-brand;
    }

    &.is-disabled {
      border-color: $--color-neutral-5;
      cursor: not-allowed;
    }

    & + .el-radio.is-bordered {
      margin-left: 10px;
    }
  }
  @include m(small) {
    @include when(bordered) {
      padding: $--radio-bordered-small-padding;
      .el-radio__label {
        font-size: $--button-small-font-size;
      }
      .el-radio__inner {
        width: $--radio-bordered-small-input-width;
        height: $--radio-bordered-small-input-height;
      }
    }
  }
  @include m(mini) {
    @include when(bordered) {
      padding: $--radio-bordered-mini-padding;
      .el-radio__label {
        font-size: $--button-mini-font-size;
      }
      .el-radio__inner {
        width: $--radio-bordered-mini-input-width;
        height: $--radio-bordered-mini-input-height;
      }
    }
  }
  @include e(input) {
    position: relative;
    display: inline-block;
    width: $--radio-input-width;
    height: $--radio-input-height;
    padding: 4px;
    cursor: pointer;
    line-height: 1;
    outline: none;
    vertical-align: sub;
    @include when(checked) {
      .el-radio__inner {
        border-color: $--radio-checked-input-border-color;
        &::after {
          transform: scale(1);
          transition: all 0.2s ease;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          content: '';
        }

        &:hover {
          border-color: $--radio-checked-input-border-color-hov;
          background-color: $--radio-checked-input-fill-hov;
        }
        &:active {
          border-color: $--radio-checked-input-border-color-pre;
          background-color: $--radio-checked-input-fill-pre;
        }
      }
    }
    @include when(disabled) {
      .el-radio__inner {
        border-color: $--radio-disabled-input-border-color;
        background-color: $--radio-disabled-input-fill;
        cursor: not-allowed;

        &::after {
          background-color: $--radio-disabled-icon-color;
          cursor: not-allowed;
        }
        &:hover {
          border-color: $--radio-disabled-input-border-color;
          background-color: $--radio-disabled-input-fill;
        }
        &:active {
          border-color: $--radio-disabled-input-border-color;
          background-color: $--radio-disabled-input-fill;
        }
      }
      &.is-checked {
        .el-radio__inner {
          &::after {
            background-color: $--color-neutral-6;
          }
        }

        .el-radio-button__orig-radio {
          & + .el-radio-button__inner {
            background-color: $--color-neutral-6;
          }
        }
      }
      & + .el-radio__label {
        color: $--color-neutral-5;
        cursor: not-allowed;
      }
      .el-radio__inner + .el-radio__label {
        .el-radio__inner {
          border-color: tint($--radio-checked-input-border-color, 40%);
          background: $--color-white;

          &::after {
            background-color: tint($--radio-checked-icon-color, 40%);
          }
        }
      }
    }
    @include when(focus) {
      .el-radio__inner {
        border-color: $--radio-input-border-color-hov;
      }
    }
  }
  @include e(inner) {
    position: relative;
    display: inline-block;
    width: $--radio-inner-width;
    height: $--radio-inner-height;
    box-sizing: border-box;
    padding: 4px;
    border: $--border-base;
    border-radius: $--radio-input-border-radius;
    cursor: pointer;
    &:hover {
      border-color: $--radio-input-border-color-hov;
      background-color: $--radio-input-fill-hover;
    }
    &:active {
      border-color: $--radio-input-border-color-pre;
      background-color: $--radio-input-fill-pre;
    }
    &::after {
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $--radio-checked-icon-color;
      border-radius: 50%;
      content: '';
      transform: scale(0);
    }
  }
  @include e(original) {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    outline: none;
  }
  @include e(icon) {
    position: relative;
    width: $--radio-input-width;
    height: $--radio-input-height;
    padding: 0 18px 0 12px;
    margin-left: -4px;
    i {
      position: absolute;
      top: -1px;
      left: 0;
      font-size: 24px;
    }
  }
  @include e(label) {
    // 设置成inline-block 文字过长省略号会有问题 xx
    // display: inline-block;
    color: $--font-color-regular;
    font-size: $--radio-font-size;
  }
}
