@import 'mixins/mixins';
@import 'mixins/utils';
@import 'common/var';

@include b(scrollbar) {
  position: relative;
  overflow: hidden;
  height: 100%;

  &:hover,
  &:active,
  &:focus {
    & > .el-scrollbar__bar {
      transition: visibility 340ms ease-out;
      visibility: visible;
    }
  }

  @include e(wrap) {
    overflow: scroll;

    @include m(hidden-default) {
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  @include e(view) {
    width: 100%;
  }

  @include e(thumb) {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $--scrollbar-background-color;
    border-radius: 1000px;
    cursor: pointer;
    transition: 0.3s background-color;

    &:hover {
      background-color: $--scrollbar-hover-background-color;
    }
    &:active {
      background-color: $--scrollbar-active-background-color;
    }
  }
  @include when(double) {
    @include e(bar) {
      @include when(vertical) {
        height: calc(100% - 12px);
      }

      @include when(horizontal) {
        width: calc(100% - 12px);
      }
    }
  }
  @include e(bar) {
    position: absolute;
    z-index: 1001;
    right: 0;
    transition: visibility 120ms ease-out;
    visibility: hidden;

    @include when(mousewheel) {
      pointer-events: none;
    }

    @include when(vertical) {
      top: 0;
      bottom: 0;
      width: 12px;
      padding: 2px 4px;
    }

    @include when(horizontal) {
      bottom: 0;
      left: 0;
      height: 12px;
      padding: 4px 2px;
    }

    &:hover,
    &:active {
      background-color: $--scrollbar-bar-hover-background-color;
      transition: $--transition-all;
      @include when(vertical) {
        padding: 2px;
      }
      @include when(horizontal) {
        padding: 2px;
      }
    }
  }

  @include e(rail) {
    width: 100%;
    height: 100%;
  }
}
