@import 'common/var';
@import 'mixins/mixins';

@include b(step) {
  position: relative;
  vertical-align: top;

  @include pseudo(last-of-type) {
    @include e(line) {
      display: none;
    }

    // 只有未设置 space 的情况下才自适应宽度
    @include when(flex) {
      flex-basis: auto !important;
      flex-grow: 0;
      flex-shrink: 0;
    }

    @include e((main, description)) {
      padding-right: 0;
    }
  }

  &:last-child .el-step__line {
    display: none;
  }

  &:last-child .el-step__main {
    padding-right: 0;
  }

  @include when(horizontal) {
    display: inline-block;
    & .rightTitle {
      position: relative;
      bottom: 29px;
      left: 36px;
      display: inline;

      & .el-step__title {
        padding-right: 8px;
        background: $--color-white;
      }
    }
  }

  @include when(vertical) {
    display: flex;
    padding-bottom: 10px;
    & .el-step__head {
      flex-shrink: 0;
    }
    & .el-step__main {
      display: inline-block;
      flex-shrink: 1;
      padding-left: 8px;
    }
    &.el-step--disorder {
      @include e(main) {
        margin-top: -9px;
      }
    }
  }

  @include e(line) {
    position: absolute;
    display: inline-block;
    border-color: $--color-brand;
    background-color: $--color-neutral-7;
    //opacity: 0.1;

    // @include when(icon) {
    //   @include when(horizontal) {
    //     right: 4px;
    //   }
    // }

    @include when(horizontal) {
      top: 14px;
      right: 22px;
      left: 22px;
      height: 1px;
    }

    @include when(vertical) {
      top: 36px;
      bottom: 8px;
      left: 13px;
      width: 1px;
      box-sizing: border-box;
    }
  }

  @include e(line-inner) {
    display: block;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: inherit;
    transition: all 150ms;
  }

  @include e(icon) {
    & .el-icon-check,
    & .el-icon-close {
      font-size: 12px;
      font-weight: 500;
      transform: translateY(-1px);
    }
    & .h-icon-done {
      font-size: 24px;
      font-weight: 500;
      vertical-align: middle;
    }
    > i {
      font-size: 24px;
      font-weight: 500;
      line-height: inherit;
      vertical-align: bottom;
    }
  }

  @include e(head) {
    display: inline-flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background-color: transparent;
    border-radius: 50%;
    transition: all 150ms;
    vertical-align: top;

    @include when(text) {
      border-width: 1px;
      border-style: solid;
      font-size: 14px;

      @include when(process) {
        border-color: $--steps-process-color;
        background-color: $--steps-process-color;
        color: $--color-white;
      }

      @include when(wait) {
        border-color: $--color-neutral-5;
        background-color: $--steps-wait-color;
        color: $--color-neutral-2;
      }

      @include when(success) {
        border-color: $--steps-success-color;
        background-color: $--color-white;
        color: $--steps-success-color;
      }

      @include when(error) {
        border-color: $--color-danger;
        background-color: $--color-danger;
        color: $--color-white;
      }

      @include when(finish) {
        height: 28px;
        border-color: $--steps-success-color;
        background-color: $--steps-success-color;
        color: $--color-white;
      }
    }

    @include when(process) {
      border-color: $--steps-process-color;
      color: $--steps-process-color;
    }

    @include when(wait) {
      border-color: $--color-neutral-5;
      color: $--color-neutral-5;
    }

    @include when(success) {
      border-color: $--steps-success-color;
      color: $--steps-success-color;
    }

    @include when(error) {
      border-color: $--color-danger;
      color: $--color-danger;
    }

    @include when(finish) {
      border-color: $--steps-success-color;
    }
  }
  @include e(main) {
    // width: 120px;
    white-space: normal;
  }

  @include e(title) {
    display: inline-block;
    color: $--color-neutral-2;
    font-size: 16px;
    font-weight: $--font-weight;
    line-height: 24px;
    @include when(process) {
      color: rgba($--color-neutral-1, 0.9);
    }

    @include when(wait) {
      color: rgba($--color-neutral-1, 0.9);
    }

    @include when(success) {
      color: rgba($--color-neutral-1, 0.9);
    }

    @include when(error) {
      color: rgba($--color-neutral-1, 0.9);
    }

    @include when(finish) {
      color: rgba($--color-neutral-1, 0.9);
    }
  }

  @include e(description) {
    color: $--color-neutral-3;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    @include when(error) {
      color: $--color-danger;
    }
  }

  // @include m(small) {
  //   .el-step__head {
  //     width: $--steps-small;
  //     height: $--steps-small !important;
  //     line-height: $--steps-small;
  //
  //     .el-step__icon {
  //       line-height: $--steps-small;
  //     }
  //     & .h-icon-done {
  //       font-size: 14px;
  //       font-weight: 500;
  //       vertical-align: middle;
  //     }
  //     .el-step__icon .el-icon-check,
  //     .el-step__icon .el-icon-close {
  //       transform: scale(0.7) translate(-2px, -2px);
  //     }
  //
  //     .is-vertical {
  //       top: $--steps-small;
  //       bottom: 0;
  //       left: 6px;
  //     }
  //
  //     .is-horizontal {
  //       top: 9px;
  //       right: -8px;
  //       left: 28px;
  //     }
  //   }
  // }
  // @include m(mini) {
  //   .el-step__head {
  //     width: $--steps-small;
  //     height: $--steps-small !important;
  //     border-width: 2px;
  //     line-height: $--steps-small;
  //
  //     .is-vertical {
  //       top: $--steps-small;
  //       bottom: 0;
  //       left: 6px;
  //     }
  //
  //     .is-horizontal {
  //       top: 9px;
  //       right: -8px;
  //       left: 28px;
  //     }
  //   }
  //   .el-step__head.is-text.is-finish,
  //   .el-step__head.is-text.is-process {
  //     background-color: $--color-white;
  //   }
  // }
  @include m(icon) {
    .el-step__head {
      border: none;
    }
    .el-step__icon > i {
      font-size: 28px;
      font-weight: 600;
    }
  }
  @include m(disorder) {
    .el-step__head {
      width: $--steps-small;
      height: $--steps-small !important;
      border-width: 2px;
      line-height: $--steps-small;
    }
    .el-step__line {
      @include when(horizontal) {
        top: 6px;
        right: 6px;
        left: 6px;
      }
      @include when(vertical) {
        top: $--steps-small;
        bottom: 0;
        left: 6px;
      }
    }
    .el-step__head.is-text.is-finish,
    .el-step__head.is-text.is-process {
      background-color: $--color-white;
    }
  }
}

.el-step--small.is-vertical .el-step__main,
.el-step--mini.is-vertical .el-step__main {
  position: relative;
  top: -24px;
  left: 14px;
}
