@import 'common/var';
@import 'mixins/mixins';

$namespace: 'h';

@include b(svg-icon-wrapper) {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 1em;
  height: 1em;
  color: $--svg-icon-color;
  font-size: 24px;
  vertical-align: text-bottom;

  // h-svg-icon 中直接使用 svg 控件时
  & > svg {
    position: absolute;
    display: flex;
    fill: currentColor;
    font-size: inherit;
  }

  // 离线状态
  @include when(offline) {
    &,
    .h-svg-icon {
      color: $--svg-icon-color-offline;
    }
  }

  // 激活状态
  @include when(active) {
    &,
    .h-svg-icon {
      color: $--color-white;
    }

    svg path:not(:last-child) {
      fill: $--color-brand;
    }
  }
}

@include b(svg-icon) {
  position: absolute;
  display: flex;
  width: inherit;
  height: inherit;
  color: $--svg-icon-color;

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

.h-svg-icon-wrapper.is-offline,
.h-svg-icon-wrapper.is-active,
.h-svg-icon.is-show-color {
  svg path:last-child {
    fill: currentColor;
  }
}
