@import 'mixins/mixins';
@import 'common/var';

@include b(tabs) {
  @include e(header) {
    position: relative;
    padding: 0;
    margin: 0;
  }

  @include m(medium) {
    .el-tabs__nav.is-top,
    .el-tabs__nav.is-bottom {
      height: 40px;
      font-size: 14px;
      line-height: 40px;
    }
  }

  @include m(small) {
    .el-tabs__nav.is-top,
    .el-tabs__nav.is-bottom {
      height: 32px;
      font-size: 14px;
      line-height: 32px;
    }
  }

  @include m(large) {
    .el-tabs__nav.is-top,
    .el-tabs__nav.is-bottom {
      height: 48px;
      font-size: 16px;
      line-height: 48px;
    }
  }

  @include e(active-bar) {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $--color-brand;
    list-style: none;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  @include e(new-tab) {
    // width: 18px;
    // height: 18px;
    // 高度 40 时会挤掉
    height: 32px;
    margin-right: 4px;
    margin-left: -1px;
    // margin: 11px 12px 9px 5px;
    // border: 1px solid #d3dce6;
    // border-radius: 3px;
    color: #d3dce6;
    cursor: pointer;
    float: right;
    // 属性与 line-height 共同作用产生像素级偏移
    // font-size: 18px;
    line-height: 34px;
    outline: none;
    text-align: center;
    transition: all 0.15s;

    .h-icon-add {
      color: #333;
    }

    &:hover {
      color: $--color-brand;
    }
    &.isButtonGroup {
      width: 125px;
      height: 39px;
      padding-left: 83px;
      margin-right: 0;
      margin-left: -91px;
      border-top: 1px solid #d3dce6;
      border-right: 1px solid #d3dce6;
      line-height: 36px;
      &:hover {
        color: #d3dce6;
      }
      & > .el-button--iconButton {
        margin-right: -4px;
      }
    }
  }

  @include e(nav-wrap) {
    position: relative;
    overflow: hidden;
    margin-bottom: -1px;

    &::after {
      position: absolute;
      z-index: $--index-normal;
      right: 0;
      bottom: 0;
      left: 0;
      // width: 100%;
      height: 1px;
      background-color: $--color-neutral-6;
      content: '';
    }

    @include when(scrollable) {
      box-sizing: border-box;
      padding: 0 24px;
    }
    .el-tabs__prev-box,
    .el-tabs__next-box {
      display: inline-block;
    }
  }

  @include e(nav-scroll) {
    overflow: hidden;
  }

  @include e((nav-next, nav-prev)) {
    position: absolute;
    width: 35px;
    color: $--font-color-secondary;
    cursor: pointer;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
  }

  @include e(nav-next) {
    // top: 0;
    right: 0;
    margin-left: 0;
  }

  @include e(nav-prev) {
    top: 0;
    left: 0;
  }

  @include e(nav) {
    position: relative;
    z-index: #{$--index-normal + 1};
    float: left;
    transition: transform 0.3s;
    white-space: nowrap;

    // &.is-top,
    // &.is-bottom {
    //   height: 40px;
    // }

    @include when(stretch) {
      display: flex;
      min-width: 100%;

      & > * {
        flex: 1;
        text-align: center;
      }
    }

    & > .el-tabs__item.is-closable {
      padding: 0 4px 0 16px;
      line-height: 36px;
    }
  }

  @include e(item) {
    position: relative;
    display: inline-block;
    overflow: hidden;
    min-width: 64px;
    // height: 40px;
    box-sizing: border-box;
    padding: 0 24px;
    color: $--font-color-primary;
    // font-size: 14px;
    font-weight: 500;
    // line-height: 40px;
    list-style: none;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: $--color-brand;
      cursor: pointer;
    }

    &:focus,
    &:focus:active {
      outline: none;
    }

    // &:focus.is-active.is-focus:not(:active) {
    //   border-radius: 3px;
    //   box-shadow: 0 0 2px 2px #409eff inset;
    // }

    & .el-button.is-icon {
      background: transparent;
      &:active {
        background: transparent;
      }
    }

    & .h-icon-close {
      // margin-left: 5px;
      border-radius: 50%;
      color: $--color-neutral-3;
      // font-size: 16px;
      text-align: center;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      &::before {
        display: inline-block;
        transform: scale(0.75);
      }

      &:hover {
        // background-color: $--font-color-placeholder;
        color: $--color-neutral-2;
      }

      &:focus {
        color: $--color-neutral-1;
      }
    }

    @include when(active) {
      color: $--color-brand;
    }

    @include when(disabled) {
      color: $--color-neutral-5;
      cursor: default;
    }

    @include when(closable) {
      padding: 0 4px 0 16px;

      & .el-button {
        width: 24px;
        min-width: 24px;
        height: 24px;
        margin-left: 4px;
      }
    }

    /* 图标标签 */
    @include m(icon) {
      position: relative;
      top: 5px;
      font-size: 22px;
    }
  }

  @include e(content) {
    position: relative;
    overflow: hidden;
    padding: 8px;
  }

  @include m(card) {
    > .el-tabs__header {
      border-bottom: 1px solid $--color-neutral-6;
    }

    > .el-tabs__header .el-tabs__nav-wrap::after {
      content: none;
    }

    > .el-tabs__header .el-tabs__nav {
      box-sizing: border-box;
      border: 1px solid $--color-neutral-6;
      border-bottom: none;
      border-radius: 4px 4px 0 0;
    }

    > .el-tabs__header .el-tabs__active-bar {
      display: none;
    }

    > .el-tabs__header .el-tabs__item .h-icon-close {
      position: relative;
      top: -1px;
      right: -2px;
      overflow: hidden;
      width: 0;
      height: 14px;
      font-size: 12px;
      line-height: 15px;
      transform-origin: 100% 50%;
      vertical-align: middle;
    }

    > .el-tabs__header .el-tabs__item {
      border-bottom: 1px solid transparent;
      border-left: 1px solid $--color-neutral-6;
      transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      &:first-child {
        border-left: none;
      }

      &.is-closable {
        &:hover {
          padding-right: 13px;
          padding-left: 13px;

          & .h-icon-close {
            width: 14px;
          }
        }
      }

      &.is-active {
        border-bottom-color: $--color-white;

        &.is-closable {
          padding-right: 20px;
          padding-left: 20px;

          .h-icon-close {
            width: 14px;
          }
        }
      }
    }
  }

  @include m(border-card) {
    // border: 1px solid $--color-neutral-6;
    border-top: none;
    background: $--fill;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);

    > .el-tabs__content {
      padding: 16px;
      border: 1px solid $--color-neutral-6;
    }

    > .el-tabs__header {
      display: flex;
      justify-content: space-between;
      margin: 0;
      border-left: 1px solid $--color-neutral-6;
      background-color: transparent;
      // background-color: $--color-neutral-9;
    }

    > .el-tabs__header .el-tabs__nav-wrap::after {
      content: none;
    }

    > .el-tabs__header .el-tabs__item {
      margin-bottom: -4px;
      border: 1px solid transparent;
      border-top: 1px solid $--color-neutral-6;
      border-right: 1px solid $--color-neutral-6;
      background-color: transparent;
      color: $--color-neutral-2;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      &.is-active {
        background-color: $--fill;
        color: $--color-brand;
      }
      &:not(.is-disabled):not(.is-active):hover {
        background-color: $--color-neutral-8;
      }
      &:not(.is-disabled):not(.is-active):active {
        background-color: $--color-neutral-6;
      }
      &.is-disabled {
        color: $--color-neutral-5;
      }
    }
  }

  @include m((top, bottom)) {
    // .el-tabs__item.is-top:nth-child(2),
    // .el-tabs__item.is-bottom:nth-child(2) {
    //   padding-left: 0;
    // }

    // .el-tabs__item.is-top:last-child,
    // .el-tabs__item.is-bottom:last-child {
    //   padding-right: 0;
    // }

    // 不知道为什么有 last 跟 2th 特例。反正影响到我的样式了。删掉未见明显问题
    // .el-tabs--left,
    // .el-tabs--right {
    //   .el-tabs__item:last-child {
    //     padding-right: 20px;
    //   }
    //   .el-tabs__item:nth-child(2) {
    //     padding-left: 20px;
    //   }
    // }

    // &.el-tabs--card,
    // &.el-tabs--border-card {
    //   .el-tabs__item:last-child {
    //     // padding-right: 20px;
    //   }
    //   .el-tabs__item:nth-child(2) {
    //     // padding-left: 20px;
    //   }
    // }
    & .el-tabs__nav-wrap.is-scrollable {
      padding: 0 34px;
    }
    &.el-tabs--border-card {
      // .el-tabs__prev-box {
      //   height: 100%;
      //   border-left: 1px solid $--color-neutral-6;
      // }
      .el-tabs__nav-prev {
        right: 36px;
        left: inherit;
        height: 39px;
        padding-left: 4px;
        border-left: 1px solid $--color-neutral-6;
      }
      .el-tabs__nav-wrap.is-scrollable {
        padding: 0;
        padding-right: 70px;
      }
    }
  }

  @include m(bottom) {
    .el-tabs__header.is-bottom {
      margin-top: 10px;
      margin-bottom: 0;
    }

    &.el-tabs--border-card {
      .el-tabs__header.is-bottom {
        border-top: 1px solid $--border-color;
        border-bottom: 0;
      }

      .el-tabs__nav-wrap.is-bottom {
        margin-top: -1px;
        margin-bottom: 0;
      }

      .el-tabs__item.is-bottom {
        margin: 0 -1px -1px -1px;
      }

      .el-tabs__item.is-bottom:not(.is-active) {
        border: 1px solid transparent;
      }
    }
  }

  @include m((left, right)) {
    overflow: hidden;

    .el-tabs__header.is-left,
    .el-tabs__header.is-right,
    .el-tabs__nav-wrap.is-left,
    .el-tabs__nav-wrap.is-right,
    .el-tabs__nav-scroll {
      height: 100%;
    }

    .el-tabs__active-bar.is-left,
    .el-tabs__active-bar.is-right {
      top: 0;
      bottom: auto;
      width: 2px;
      height: auto;
    }

    .el-tabs__nav-wrap.is-left,
    .el-tabs__nav-wrap.is-right {
      margin-bottom: 0;

      > .el-tabs__nav-prev,
      > .el-tabs__nav-next {
        display: inline-block;
        width: 100%;
        height: 30px;
        align-items: inherit;
        padding: 0;
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        > .el-button {
          width: 100%;
        }
        i {
          // line-height: 24px;
          line-height: 0;
          // transform: rotateZ(90deg);
        }
      }

      > .el-tabs__nav-prev {
        top: 0;
        left: auto;
      }

      > .el-tabs__nav-next {
        right: auto;
        bottom: 0;
        margin-left: 0;
      }

      &.is-scrollable {
        padding: 30px 0;
      }

      &::after {
        top: 0;
        bottom: auto;
        width: 2px;
        height: 100%;
      }
    }

    .el-tabs__nav.is-left,
    .el-tabs__nav.is-right {
      float: none;
    }

    .el-tabs__item.is-left,
    .el-tabs__item.is-right {
      display: block;
      text-align: center;
    }
  }

  @include e(small) {
    .el-tabs__item {
      height: 32px;
    }
  }

  @include m(left) {
    .el-tabs__header.is-left {
      margin-right: 10px;
      margin-bottom: 0;
      float: left;
    }

    .el-tabs__nav-wrap.is-left {
      margin-right: -1px;

      &::after {
        right: 0;
        left: auto;
      }
    }

    .el-tabs__active-bar.is-left {
      right: 0;
      left: auto;
    }

    .el-tabs__item.is-left {
      text-align: center;
    }

    &.el-tabs--border-card {
      .el-tabs__header.is-left {
        border-right: 1px solid #dfe4ed;
      }

      .el-tabs__item.is-left {
        margin: -1px 0 -1px -1px;
        border: 1px solid transparent;

        &.is-active {
          border-color: transparent;
          border-top-color: rgb(209, 219, 229);
          border-bottom-color: rgb(209, 219, 229);
        }
      }
    }

    &.el-tabs--card {
      .el-tabs__active-bar.is-left {
        display: none;
      }

      .el-tabs__item.is-left {
        border-top: 1px solid $--color-neutral-6;
        border-right: 1px solid $--color-neutral-6;
        border-bottom: none;
        border-left: none;
      }

      .el-tabs__item.is-left:first-child {
        border-top: none;
        border-right: 1px solid $--color-neutral-6;
      }

      .el-tabs__item.is-left.is-active {
        border: 1px solid $--color-neutral-6;
        border-right-color: #fff;
        border-bottom: none;
        border-left: none;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .el-tabs__nav {
        border-right: none;
        border-bottom: 1px solid $--color-neutral-6;
        border-radius: 4px 0 0 4px;
      }

      .el-tabs__new-tab {
        float: none;
      }
    }
  }

  @include m(right) {
    .el-tabs__header.is-right {
      margin-bottom: 0;
      margin-left: 10px;
      float: right;
    }

    .el-tabs__nav-wrap.is-right {
      margin-left: -1px;

      &::after {
        right: auto;
        left: 0;
      }
    }

    .el-tabs__active-bar.is-right {
      left: 0;
    }

    &.el-tabs--border-card {
      .el-tabs__header.is-right {
        border-left: 1px solid #dfe4ed;
      }

      .el-tabs__item.is-right {
        margin: -1px -1px -1px 0;
        border: 1px solid transparent;

        &.is-active {
          border-color: transparent;
          border-top-color: rgb(209, 219, 229);
          border-bottom-color: rgb(209, 219, 229);
        }
      }
    }

    &.el-tabs--card {
      .el-tabs__active-bar.is-right {
        display: none;
      }

      .el-tabs__item.is-right {
        border-top: 1px solid $--color-neutral-6;
        border-bottom: none;
      }

      .el-tabs__item.is-right:first-child {
        border-top: none;
        border-left: 1px solid $--color-neutral-6;
      }

      .el-tabs__item.is-right.is-active {
        border: 1px solid $--color-neutral-6;
        border-right: none;
        border-bottom: none;
        border-left-color: #fff;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .el-tabs__nav {
        border-bottom: 1px solid $--color-neutral-6;
        border-left: none;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

.slideInRight-transition,
.slideInLeft-transition {
  display: inline-block;
}

.slideInRight-enter {
  animation: slideInRight-enter 0.3s;
}

.slideInRight-leave {
  position: absolute;
  right: 0;
  left: 0;
  animation: slideInRight-leave 0.3s;
}

.slideInLeft-enter {
  animation: slideInLeft-enter 0.3s;
}

.slideInLeft-leave {
  position: absolute;
  right: 0;
  left: 0;
  animation: slideInLeft-leave 0.3s;
}

@keyframes slideInRight-enter {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

@keyframes slideInRight-leave {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

@keyframes slideInLeft-enter {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

@keyframes slideInLeft-leave {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
