.demo-cascader {
  .el-cascader {
    width: 222px;
  }
}

.demo-cascader-size {
  .el-cascader {
    margin-right: 15px;
    vertical-align: top;
  }
}

.demo-cascader .block {
  width: 50%;
  box-sizing: border-box;
  padding: 30px 0;
  border-right: solid 1px #eff2f6;
  float: left;
  text-align: center;

  &:last-child {
    border-right: none;
  }
}

.demo-cascader .demonstration {
  display: block;
  margin-bottom: 20px;
  color: #8492a6;
  font-size: 14px;
}
