@import 'mixins/mixins';
@import 'common/var';

@include b(upload) {
  display: inline-block;
  cursor: pointer;
  text-align: center;

  @include e(input) {
    display: none;
  }
  @include e(tip) {
    margin-top: 7px;
    color: $--color-neutral-2;
    font-size: 12px;
  }
  & iframe {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    opacity: 0;
  }

  /* 照片墙模式 */
  @include m(picture-card) {
    width: $--upload-picture-list-size;
    height: $--upload-picture-list-size;
    box-sizing: border-box;
    border: 1px dashed $--color-neutral-5;
    background-color: $--color-neutral-8;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: top;

    i {
      color: #8c939d;
      font-size: 28px;
      line-height: inherit;
    }

    &:hover {
      background-color: $--color-neutral-7;
    }
    &:active {
      background-color: $--color-neutral-6;
    }
  }
}
@include b(upload-dragger) {
  position: relative;
  overflow: hidden;
  width: 720px;
  height: 180px;
  box-sizing: border-box;
  padding: 24px 16px;
  border: 1px dashed $--color-neutral-6;
  background-color: $--color-neutral-9;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;

  & .h-icon-upload {
    margin: 40px 0 16px;
    color: $--color-neutral-4;
    font-size: 67px;
    line-height: 50px;
  }

  & + .el-upload__tip {
    text-align: center;
  }
  & ~ .el-upload__files {
    padding-top: 5px;
    margin-top: 7px;
    border-top: 1px solid $--color-neutral-4;
  }
  .el-upload__text {
    color: $--color-neutral-2;
    font-size: 14px;
    text-align: center;

    & em {
      color: $--color-brand;
      font-style: normal;
    }
  }

  &:active {
    background-color: $--color-neutral-7;
  }

  @include when(dragover) {
    border: 2px dashed $--color-brand;
    background-color: rgba(32, 159, 255, 0.06);
  }
}
@include b(upload-list) {
  padding: 0;
  margin: 0;
  list-style: none;

  @include e(item) {
    position: relative;
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    margin-top: 4px;
    border-radius: 4px;
    color: $--color-neutral-2;
    font-size: 14px;
    line-height: 28px;
    // transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);

    &:first-child {
      margin-top: 8px;
    }

    @include when(fail) {
      & .h-icon-attach,
      & .el-upload-list__item-name {
        color: $--color-danger;
      }
      & .list-icon-btn {
        display: inline-block;
      }
    }

    @include when(uploading) {
      & .h-icon-close {
        display: inline-block;
      }
    }

    & .list-icon-btn {
      display: none;
      margin-top: 2px;
      color: $--color-neutral-3;
      cursor: pointer;
      float: right;
      font-size: $--upload-icon-size;

      &:hover {
        color: $--color-neutral-2;
        opacity: 1;
      }
      &:active {
        color: $--color-neutral-1;
      }
    }

    & .el-progress {
      position: absolute;
      bottom: 1px;
      width: calc(100% - 30px);
      min-height: inherit;
    }
    & .el-progress-bar__inner {
      transition: width 0.3s linear;
    }
    & .h-icon-upload-success {
      color: $--color-success;
    }
    & .h-icon-attach {
      height: 100%;
      margin-right: 2px;
      color: $--color-neutral-3;
      font-size: $--upload-icon-size;
      line-height: inherit;
      vertical-align: top;
    }
    &:hover {
      background-color: $--color-neutral-9;

      .h-icon-close {
        display: inline-block;
      }
    }
    &:active {
      background-color: $--color-neutral-7;
    }
  }
  @include e(item-name) {
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 52px);
    height: 28px;
    color: $--color-neutral-2;
    cursor: default;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include e(item-content) {
    position: relative;
    display: inline-block;
    width: calc(100% - 30px);
    height: 28px;
    vertical-align: top;

    &:hover .list-icon-btn {
      display: inline-block;
    }

    .uploading-close {
      position: absolute;
      top: 0;
      right: 0;
      color: $--color-neutral-3;
      cursor: pointer;
      font-size: 24px;

      &:hover {
        color: $--color-neutral-2;
      }
      &:active {
        color: $--color-neutral-1;
      }
    }
  }
  @include e(item-delete) {
    position: absolute;
    top: 0;
    right: 10px;
    display: none;
    color: $--color-neutral-2;
    font-size: 14px;

    &:hover {
      color: $--color-brand;
    }
  }
  @include m(picture-card) {
    display: inline-block;
    margin: 0;
    vertical-align: top;

    .el-upload-list__item {
      display: inline-block;
      overflow: hidden;
      width: $--upload-picture-list-size;
      height: $--upload-picture-list-size;
      box-sizing: border-box;
      padding: 4px;
      margin: 0 8px 0 0;
      border: 1px solid $--color-neutral-7;
      background-color: #fff;
      border-radius: 2px;

      @include when(fail) {
        border-color: $--color-danger;
      }

      & .list-icon-btn {
        display: none;
      }
    }
    .el-upload-list__item-name {
      display: none;
    }
    .el-upload-list__item-thumbnail,
    .el-upload-list__item-content {
      width: 100%;
      height: 100%;
      background-color: $--color-neutral-7;
    }
    .el-upload-list__item-actions {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      cursor: default;
      font-size: 24px;
      opacity: 0;
      text-align: center;
      transition: opacity 0.3s;

      &::after {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
      }

      span {
        display: none;
        cursor: pointer;
      }

      .el-upload-list__item-delete {
        position: static;
        color: inherit;
        font-size: inherit;
      }
      .el-upload-list__item-reupload,
      .el-upload-list__item-preview,
      .el-upload-list__item-delete {
        color: $--color-neutral-f-rgba-2;
        transform: translateY(4px);

        &:hover {
          color: $--color-white;
        }
      }
      .el-upload-list__item-reupload,
      .el-upload-list__item-preview {
        margin-right: 8px;
      }

      &:hover {
        opacity: 1;
        span {
          display: inline-block;
        }
      }
    }

    @include when(disabled) {
      .el-upload-list__item-actions {
        cursor: no-drop;
        opacity: 1;
        .el-upload-list__item-reupload,
        .el-upload-list__item-preview,
        .el-upload-list__item-delete {
          display: none;
        }
      }
    }
    .el-tooltip {
      height: 100%;
    }
    .el-progress {
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  @include m(picture) {
    .el-upload-list__item-name {
      display: block;
      overflow: hidden;
      width: calc(100% - 78px);
      margin-top: 20px;
      float: left;
    }
    .el-upload-list__item {
      overflow: hidden;
      height: 80px;
      box-sizing: border-box;
      padding: 8px;
      margin-top: 8px;
      border: 1px solid $--color-neutral-7;
      background-color: #fff;
      border-radius: 2px;

      @include when(fail) {
        border-color: $--color-danger;
      }

      & .h-icon-close {
        position: absolute;
        top: 0;
        right: 0;
      }

      &:hover {
        .el-progress__text {
          display: block;
        }
      }
      &.is-success {
        .el-upload-list__item-name {
          height: 64px;
          margin-top: 0;
          line-height: 64px;
        }
      }
    }
    .el-upload-list__item-content {
      width: 100%;
      height: inherit;
    }
    .el-upload-list__item-thumbnail {
      position: relative;
      z-index: 1;
      width: 64px;
      height: 64px;
      margin-right: 12px;
      float: left;
    }

    .el-progress {
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
