[class^='el-'],
[class^='el-']::before,
[class^='el-']::after {
  box-sizing: border-box;
}

[class*=' el-'],
[class*=' el-']::before,
[class*=' el-']::after {
  box-sizing: border-box;
}

[class^='h-'],
[class^='h-']::before,
[class^='h-']::after {
  box-sizing: border-box;
}

[class*=' h-'],
[class*=' h-']::before,
[class*=' h-']::after {
  box-sizing: border-box;
}
