@import '../common/var';
@import '../mixins/mixins';
@import '../mixins/utils';

@include b(time-spinner) {
  height: 191px;
  @include has(seconds) {
    .el-time-spinner__wrapper {
      width: 33.3%;
    }
  }

  @include e(wrapper) {
    position: relative;
    display: inline-block;
    overflow: auto;
    width: 50%;
    max-height: 191px;
    max-height: 208px;
    border-left: 1px solid $--color-neutral-7;
    vertical-align: top;
    &:first-child {
      border-left: none;
    }
    & .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
      margin-bottom: -20px !important;
    }

    @include when(arrow) {
      overflow: hidden;
      box-sizing: border-box;
      text-align: center;

      .el-time-spinner__list {
        transform: translateY(-32px);
      }

      .el-time-spinner__item:hover:not(.disabled):not(.active) {
        background: $--color-white;
      }
    }

    &.is-arrow {
      @include e(list) {
        &::after,
        &::before {
          height: 80px;
        }
      }
    }
  }

  @include e(arrow) {
    position: absolute;
    z-index: $--index-normal;
    left: 0;
    width: 100%;
    height: 30px;
    color: $--font-color-secondary;
    cursor: pointer;
    font-size: 22px;
    line-height: 30px;
    text-align: center;

    &:hover {
      color: $--color-brand;
    }

    &.h-icon-angle-sm-up {
      top: 10px;
    }

    &.h-icon-angle_down_sm {
      bottom: 10px;
    }
  }

  @include e(input) {
    &.el-input {
      width: 70%;

      .el-input__inner {
        padding: 0;
        text-align: center;
      }
    }
  }

  @include e(list) {
    padding: 0;
    padding-bottom: 162px;
    margin: 0;
    list-style: none;
    text-align: center;

    &::before {
      display: block;
      width: 100%;
      content: '';
    }
  }

  @include e(item) {
    height: 32px;
    color: $--font-color-regular;
    cursor: pointer;
    font-size: 12px;
    line-height: 32px;
    &:hover:not(.disabled):not(.active) {
      background-color: $--option-fill-hov;
      color: $--option-hov-color;
    }
    &:active:not(.disabled):not(.active) {
      background-color: $--option-fill-pre;
      color: $--option-pre-color;
    }

    &.active:not(.disabled) {
      background-color: $--option-selected-fill;
      color: $--option-selected-color;
      &:hover {
        background-color: $--option-selected-fill-hov;
      }

      &:active {
        background-color: $--option-selected-fill-pre;
      }
    }

    &.disabled {
      color: $--disabled-color;
      cursor: not-allowed;
    }
  }
}
