@import '../common/var';
@import '../mixins/mixins';
@import '../mixins/utils';

@include b(time-panel) {
  position: absolute;
  z-index: $--index-top;
  left: 0;
  width: 192px;
  box-sizing: content-box;
  //border: solid 1px $--datepicker-border-color;
  background-color: $--fill;
  border-radius: 2px;
  box-shadow: $--box-shadow;
  user-select: none;
  &.el-popper[x-placement^='bottom'] {
    margin-top: 4px;
  }
  &.el-popper[x-placement^='top'] {
    margin-bottom: 4px;
  }
  @include e(content) {
    position: relative;
    overflow: hidden;
    font-size: 0;

    &::after,
    &::before {
      position: absolute;
      z-index: -1;
      top: 50%;
      right: 0;
      left: 0;
      height: 32px;
      box-sizing: border-box;
      padding-top: 6px;
      margin-top: -15px;
      //content: '';
      text-align: left;
    }

    &::after {
      left: 50%;
      margin-right: 12%;
      margin-left: 12%;
    }

    &::before {
      padding-left: 50%;
      margin-right: 12%;
      margin-left: 12%;
    }

    &.has-seconds {
      &::after {
        left: calc(100% / 3 * 2);
      }

      &::before {
        padding-left: calc(100% / 3);
      }
    }
  }

  @include e(footer) {
    height: 48px;
    box-sizing: border-box;
    padding: 8px;
    margin-top: -1px;
    border-top: 1px solid $--datepicker-inner-border-color;
    background-color: $--color-neutral-9;
    font-size: 0;
    text-align: right;
  }
  @include e(btn) {
    background-color: transparent;
    color: $--font-color-primary;
    &.el-button {
      min-width: 72px;
      @include utils-ellipsis;
    }
  }
}
