@import '../common/var';
@import '../mixins/mixins';
@import '../mixins/utils';

@include b(year-table) {
  padding: 0 16px 16px 16px;
  .el-icon {
    color: $--datepicker-icon-color;
  }
  td {
    width: 56px;
    height: 36px;

    &.prev-year,
    &.next-year {
      color: $--datepicker-off-color !important;
    }
  }
}
