.full {
  position: relative;
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/* 颜色
------------------------------ */
.color-success {
  color: $--color-success;
}
.color-warning {
  color: $--color-warning;
}
.color-danger {
  color: $--color-danger;
}
.color-info {
  color: $--color-info;
}
.color-gray {
  color: $--color-neutral-3;
}
.color-disabled {
  color: $--color-neutral-5;
}

/* 纯css实现三角形
------------------------------ */
.cart-up,
.cart-right,
.cart-down,
.cart-left {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  border-right: 4px solid transparent;
  border-bottom: 4px dashed;
  border-left: 4px solid transparent;
  transition: transform 0.2s;
  vertical-align: middle;
}

.cart-right {
  transform: rotate(90deg);
}

.cart-down {
  transform: rotate(180deg);
}

.cart-left {
  transform: rotate(270deg);
}

/* 样式
------------------------------ */
// 浮动
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

// 对齐
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}

// 清除浮动
.clearfix {
  @include utils-clearfix;
}

// 文字不换行，超出部分显示'...'
.text-overflow {
  @include utils-ellipsis;
}

// 把文本方向设置为“从右向左”
.text-direction-rtl {
  display: block;
  direction: rtl;
  text-align: left;
  @include utils-ellipsis;
}
