/* stylelint-disable */
.page-import {
  width: 720px;
  margin-top: 40px;
}

/* 导入第一步(上传文件) */
.page-import-one {
  .page-one-upload {
    &.is-error .el-input__inner {
      border-color: $--color-danger;
    }
    p {
      color: $--color-danger;
      line-height: 20px;
    }
    // 重置掉输入框后面追加按钮的默认背景色
    .el-button.el-button--default.is-icon {
      width: 80px;
      background: #fff;
    }
    .el-input-group__append i {
      top: 0;
    }
  }

  .page-one-help {
    padding-bottom: 24px;
    margin-top: 16px;
    border-bottom: 1px solid $--color-neutral-rgba-7;
    a {
      color: $--color-info;
      cursor: pointer;
      font-size: $--font-size;
      text-decoration: none;
    }
    p {
      margin-top: 6px;
      color: $--color-neutral-3;
      font-size: $--font-size;
    }
    .page-one-help__dividing {
      display: inline-block;
      height: 10px;
      margin: 0 12px;
      border-right: 1px solid $--color-neutral-7;
    }
  }
}

/* 导入第二步(校验上传文件) */
.page-import-two {
  margin-top: 12px;
  h3 {
    color: $--color-neutral-1;
    font-size: $--font-size-lg;
    font-weight: 500;
    line-height: 26px;
  }
  .el-row {
    margin-top: 8px;
    .el-col {
      margin-top: 4px;
      color: $--color-neutral-2;
    }
  }
}

/* 导入第三步(显示校验结果列表) */
.page-import-three {
  /* 校验结果标题 */
  h3 {
    color: $--color-neutral-1;
    font-size: $--font-size-lg;
    font-weight: $--font-weight;
    letter-spacing: 0;
    line-height: 26px;
  }

  /* 校验结果信息 */
  & > p {
    margin-top: 8px;
    color: $--color-neutral-2;
    font-size: $--font-size;
    text-align: left;
  }

  /* 校验结果重复处理 */
  .page-three-repeat {
    padding: 8px 12px;
    margin-top: 8px;
    border: 1px solid $--color-neutral-6;

    /* 校验结果重复详情 */
    & > p {
      color: $--color-neutral-2;
      font-size: $--font-size;
      > a {
        color: $--color-warning;
        text-decoration: none;
      }
    }

    /* 校验结果重复数据处理 */
    .el-col {
      height: 32px;
      line-height: 32px;
      & > span {
        position: relative;
        top: -8px;
        margin-left: 8px;
        color: #999;
      }
    }
  }
}

/* 导入 */
.page-import-button {
  margin-top: 48px;
  text-align: center;
}

/* 导入记录 */
.page-import-records {
  padding-top: 8px;
  margin-top: 40px;
  border-top: 1px solid $--color-neutral-rgba-4;
  color: #999;
}

/* 导入第四步(显示导入进度) */
.page-import-four {
  position: relative;
  padding-top: 4px;
  margin-top: 40px;

  /* 导入进度标题 */
  .page-loading-icon {
    position: relative;
    left: 50%;
    width: 56px;
    // color: #ff6076;
    font-size: 56px;
    transform: translateX(14px);
  }
  > p {
    margin-top: 16px;
    color: $--color-neutral-1;
    font-size: 18px;
    text-align: center;
  }

  .el-progress {
    margin-top: 24px;
  }

  /* 导入进度信息 */
  > .el-row {
    margin-top: 8px;
    > .el-col {
      margin-top: 4px;
      font-size: 14px;
    }
  }
}

/* 导入第五步(显示导入结果) */
.page-import-five {
  margin-top: 40px;

  [class^='h-icon-feedback'] {
    position: relative;
    left: 50%;
    font-size: 56px;
    transform: translateX(-50%);
  }

  /* 导入结果标题 */
  > p:nth-child(2) {
    margin-top: 16px;
    margin-bottom: 8px;
    color: $--color-neutral-1;
    font-size: 18px;
    text-align: center;
  }
  > p:nth-child(3) {
    color: $--color-neutral-3;
    font-size: 14px;
    text-align: center;
  }
  > p:nth-child(4) {
    color: $--color-neutral-2;
    font-size: 14px;
    text-align: center;
  }
}

/* 校验结果列表，校验结果和导入结果共用该样式 */
.page-import-result {
  padding: 0 16px;
  margin-top: 4px;
  border: 1px solid $--color-neutral-6;

  /* 校验结果重复数据处理 */
  > .el-col {
    margin-top: 16px;
    > span {
      margin-left: 8px;
      color: #999;
    }
  }

  /* 校验结果列表标题 */
  .el-row:first-child {
    height: 36px;
    border-bottom: 1px solid $--color-neutral-6;
    color: $--color-neutral-1;
    font-size: $--font-size;
    line-height: 36px;
  }

  /* 校验结果列表 */
  .el-row:nth-child(2) {
    padding-top: 8px;
    .el-col {
      overflow: hidden;
      margin-bottom: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  /* 校验结果列表更多详情 */
  .page-list-more {
    margin-bottom: 8px;
    a {
      color: $--color-warning;
      text-decoration: none;
    }
  }
}

/* 导入详情 */
.page-import-detail {
  height: 100%;

  /* 标题信息 */
  .page-detail-header {
    width: 100%;
    height: 72px;
    padding: 0 40px;
    border: none;
    background-color: #333;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.349019607843137);
    color: #fff;
    font-size: 16px;
    .el-row {
      width: 1200px;
      margin: 0 auto;
      line-height: 72px;
    }
    .el-col:last-child {
      text-align: right;
    }
    .el-button {
      background-color: #333;
      color: #fff;
      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }

  /* 表主体信息 */
  .page-detail-body {
    width: 1200px;
    height: calc(100% - 72px);
    margin: 0 auto;
    .el-table {
      height: 100%;
    }
    .page-detail-failed {
      color: #fa3239;
    }
  }
}
